
html {
    background-color: #303030;
    display: flex;
}

body {
    max-width: 1200px;
    min-width: 320px;
    display: flex;


}

mainpics {
    justify-content: center;
    z-index: 0;
    display: flex;
    max-width: 1200px;
}
h2 {
    font-family: 'Atomic Age', cursive;
    color: #ffe3ae;
    font-size: 70px;
    justify-content: center;

    
}

h1 {
    font-family: 'Atomic Age', cursive;
    color: #ffe3ae;
    font-size: 30px;
    justify-content: center;
    display: flex;

}
